<div id="plates" class="transitions-enabled">

    <% @plates.each do |plate| %>
       <div class="box panel panel-default">
        <%= image_tag plate.image.url(:medium) %>
        <div class="panel-body">
        <%= plate.description %>
        <%= plate.recipe %>
        <%= plate.user.email if plate.user %>
        <%= link_to 'Show', plate %>

        <% if plate.user == current_user %>

        <%= link_to 'Edit', edit_plate_path(plate) %>
        <%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% end %>
      </div>
      </div>

    <% end %>


</div>
