<h1>Listing plates</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Recipe</th>
      <th>User's email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td><%= plate.description %></td>
        <td><%= plate.recipe %></td>
        <td><%= plate.user.email if plate.user %></td>
        <td><%= link_to 'Show', plate %></td>

        <% if plate.user == current_user %>

        <td><%= link_to 'Edit', edit_plate_path(plate) %></td>
        <td><%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if user_signed_in? %>
<%= link_to 'New Plate', new_plate_path %>
<% end %>