<div class="logosec center">
<img src="http://rudes.de/eatbeans/logo.png">
<p><strong>Tell me why!</p></strong>
</div>



<div class="healthsec center">
<img src="http://rudes.de/eatbeans/health.png">
<p><strong>They're healthy and your heart loves them.</p></strong>
</div>

<div class="healthsec center">
<img src="http://rudes.de/eatbeans/cheap.png">
<p><strong>It's the least expensive form of protein.<br>Saving you lots money.</p></strong>
</div>


<div class="friendssec center">
<img src="http://rudes.de/eatbeans/friends.png">
<p><strong>Beans can be used as a protein alternative.<br>Saving many animals from slaughter.</p></strong>
</div>




<div class="titlesec center">
<img src="http://rudes.de/eatbeans/title.png">
<%= render 'pages/home' unless user_signed_in? %>
</div>





<div id="plates" class="transitions-enabled">

    <% @plates.each do |plate| %>
       <div class="box panel panel-default">
    

        <%= link_to image_tag(plate.image.url(:medium)), plate %>

        <div class="panel-body">
        <p><%= plate.description %></p>
        <!--<%= plate.recipe %>-->
        <p><strong><%= plate.user.name if plate.user %></strong></p>
        

        <% if plate.user == current_user %>
        <div class="actions">

            <%= link_to edit_plate_path(plate) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>




            <%= link_to plate, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>

        </div>
        <% end %>

      </div>
      </div>

    <% end %>


</div>


