
<%= link_to 'Back', plates_path %>

<div class="row">

<div class="col-md-offset-2 col-md-8">

<div class="panel panel-default">
<div class="panel-heading center">
<%= image_tag @plate.image.url(:medium) %>
</div>
<div class="panel-body">
<p><%= @plate.description %></p>

<p><strong>Recipe:</strong><%= @plate.recipe %></p>

<p><strong><%= @plate.user.email if @plate.user %></strong></p>

<% if @plate.user == current_user %>
      <%= link_to edit_plate_path(@plate) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
<% end %>

</div>
</div>

</div>