<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @plate.description %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @plate.recipe %>
</p>


<% if @plate.user == current_user %>
<%= link_to 'Edit', edit_plate_path(@plate) %> |
<% end %>

<%= link_to 'Back', plates_path %>
